<article class="post">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                <a href="/post/{{id}}" class="post-link">{{title}}</a>
            </p>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="post-content">{{content}}</p>
            </div>
        </div>
        <div class="card-footer">
            <p class="footer-content">by {{user.username}} on {{format_date created_at}}
                |
                <a href="/post/{{id}}" class="post-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </p>
        </div>
    </div>
</article>